.container {
    width: 40rem;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.info {
    display: flex;
    justify-content: space-between;
}

.list {
    border-top: 1px solid var(--gray-400);
    width: 40rem;
height: 244px;
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
.taskLabel {
    color: var(--blue);
    font-size: 14px;
    font-weight: 700;
    
}

.doneLabel {
    color: var(--purple);
    font-size: 14px;
    font-weight: 700;
}   

.badge {
    font-size: 14px;
    color: var(--gray-100);
    background-color: var(--gray-400);
    margin-left: 0.250rem;
    padding: 0.1rem 0.5rem;
    border-radius: 999px;
}
